.container{
  display: flex;
  /* justify-content: space-around;
  align-self: flex-start; */
  margin: auto;  
  text-align: center;
  width: 50%;
  padding: 10px;
  align-content: center;
}